@model SOSBilbao.Models.Farmacia




<h3>¿Estas seguro de querer eliminar esta Farmacia?</h3>

    <div class="eliminarFavorito">
        <h1 style="color:red">ELIMINAR FARMACIA  </h1>

        <h3 style="font-style:italic">¿Estas seguro de querer eliminar esta Farmacia?</h3>
        

            <hr />
            <dl class="row">
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Volver a la lista de Farmacias</a>
            </form>
        </div>
