@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso Denegado";
}

<header>
    <div style="text-align:center;margin-top:10%">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">No tiene el permiso requerido para acceder a este recurso.</p>
     </div>
</header>
