@model SOSBilbao.Models.ParadaTaxi

@{
    ViewData["Title"] = "Delete";
}


<div class="eliminarFavorito">
    <h1 style="color:red">ELIMINAR PARADA TAXI </h1>

    <h3 style="font-style:italic">¿Estas seguro de querer eliminar esta Parada Taxi?</h3>


    <hr />
    <dl class="row">
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista de Paradas de Taxi</a>
    </form>
</div>
