@model SOSBilbao.Models.UsuarioParadasTaxi

@{
    ViewData["Title"] = "Delete";
}


<div class="eliminarFavorito">
    <h1 style="color:red">ELIMINAR PARADA TAXI</h1>

    <h3 style="font-style:italic">¿Estas seguro de querer eliminar esta Parada de Taxi?</h3>
    <div>

        <hr />
        <dl class="row">
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />    |   <a class="btn btn-success" role="button" asp-action="Index">Volver a la lista de Paradas de Taxi Favoritas</a>
        </form>
    </div>
</div>